ul{
    display: flex;
}
#inhalt {
    margin:auto;
    display:"flex";
    flex-direction: column-reverse;
    text-align:"center";
    list-style-type: none;
    color:black;
    z-index: 10;
    min-width: 360px;
    max-width:90%;
    margin:auto;


}
#inhalt img{
    height:30vh;
    width:80vw;
    border-radius: 5%;
    margin:auto;

}

#inhalt p{
    text-align: center justify;
    max-width:92%;
    margin:auto;
    letter-spacing: 1px;

}


